<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fastcabtaxi.passenger">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <permission android:name="android.permission.INTERNET" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FLAG_GRANT_READ_URI_PERMISSION" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />


    <permission
        android:name="com.fastcabtaxi.passenger.googlemapsv2.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <uses-permission
        android:name="com.fastcabtaxi.passenger.googlemapsv2.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name="com.general.files.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppCompatTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_android_geo_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- <meta-data -->
        <!-- android:name="io.fabric.ApiKey" -->
        <!-- android:value="1eef6e436485c8cf780409a74796511bb9c9c8b0" /> -->

        <provider
                    android:name="android.support.v4.content.FileProvider"
                    android:authorities="com.fastcabtaxi.passenger.provider"
                    android:exported="false"
                    android:grantUriPermissions="true">
                    <meta-data
                        android:name="android.support.FILE_PROVIDER_PATHS"
                       android:resource="@xml/file_provider_paths" />
                </provider>


        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- <category android:narideruser-> -->
            </intent-filter>
        </receiver>

        <!-- Network on off Receiver Start -->
        <receiver
            android:name="com.fastcabtaxi.passenger.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <!-- Network on off Receiver End -->


        <service android:name="com.fastcabtaxi.passenger.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.fastcabtaxi.passenger.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.general.files.MyBackGroundService"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Service Alert"
            android:persistent="true" />

        <receiver
            android:name="com.fastcabtaxi.passenger.StartServiceReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.REBOOT" />
                <action android:name="com.fastcabtaxi.passenger.StartServiceReceiver" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT" />
            </intent-filter>
        </receiver>

        <activity android:name="com.twitter.sdk.android.core.identity.OAuthActivity" />

        <service android:name="com.fastcabtaxi.passenger.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.fastcabtaxi.passenger.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.fastcabtaxi.passenger.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity android:name="com.fastcabtaxi.passenger.AppLoginActivity" />
        <activity android:name="com.fastcabtaxi.passenger.SelectCountryActivity" />
        <activity
            android:name="com.fastcabtaxi.passenger.MainActivity"
            android:exported="true">
            <action android:name=".MainActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity android:name="com.fastcabtaxi.passenger.VerifyFbProfileActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:theme="@style/FBtheme"
            tools:replace="android:theme" />
        <activity android:name="com.fastcabtaxi.passenger.SearchPickupLocationActivity" />
        <activity android:name="com.fastcabtaxi.passenger.FareEstimateActivity" />
        <activity android:name="com.fastcabtaxi.passenger.MyProfileActivity" />
        <activity android:name="com.fastcabtaxi.passenger.HistoryActivity" />
        <activity android:name="com.fastcabtaxi.passenger.StaticPageActivity" />
        <activity android:name="com.fastcabtaxi.passenger.ContactUsActivity" />
        <activity android:name="com.fastcabtaxi.passenger.HelpActivity" />
        <activity android:name="com.fastcabtaxi.passenger.QuestionAnswerActivity" />
        <activity
            android:name="com.fastcabtaxi.passenger.HistoryDetailActivity"
            android:theme="@style/Theme.App.Base" />
        <activity android:name="com.fastcabtaxi.passenger.RatingActivity" />
        <activity android:name="com.fastcabtaxi.passenger.CardPaymentActivity" />
        <activity android:name="com.fastcabtaxi.passenger.EmergencyContactActivity" />
        <activity android:name="com.fastcabtaxi.passenger.ConfirmEmergencyTapActivity" />
        <activity android:name="com.fastcabtaxi.passenger.MyBookingsActivity" />
        <activity android:name="com.fastcabtaxi.passenger.MyWalletActivity" />
        <activity android:name="com.fastcabtaxi.passenger.MyWalletHistoryActivity" />
        <activity android:name="com.fastcabtaxi.passenger.InviteFriendsActivity" />
        <activity android:name="com.fastcabtaxi.passenger.VerifyInfoActivity" />
        <activity android:name="com.fastcabtaxi.passenger.AppLoignRegisterActivity" />
        <activity android:name="com.fastcabtaxi.passenger.AccountverificationActivity" />
        <activity android:name="com.fastcabtaxi.passenger.SupportActivity" />
        <activity android:name="com.fastcabtaxi.passenger.FareBreakDownActivity" />
        <activity android:name="com.fastcabtaxi.passenger.ForgotPasswordActivity" />
        <activity android:name="com.fastcabtaxi.passenger.PrefranceActivity" />

        <receiver
            android:name="com.fastcabtaxi.passenger.FirebaseDataReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <activity android:name="com.fastcabtaxi.passenger.ChatActivity" />
        <activity android:name="com.fastcabtaxi.passenger.SearchLocationActivity" />
        <activity android:name="com.fastcabtaxi.passenger.ListAddressActivity" />
        <activity
            android:name="com.fastcabtaxi.passenger.AddAddressActivity"
            android:label="@string/title_activity_add_address"
            android:theme="@style/AppCompatTheme" />
        <activity android:name="com.fastcabtaxi.passenger.ScheduleDateSelectActivity" />
        <activity android:name="com.fastcabtaxi.passenger.BookingSummaryActivity" />
        <activity android:name="com.fastcabtaxi.passenger.MaintenanceActivity"></activity>
        
        <activity android:name=".Help_DetailsActivity"/>
        <activity android:name=".Help_SubCategoryActivity"/>
        <activity android:name=".Help_MainCategory"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2cb1c0f58f1003e523f0e3323238609ee6bd182f" />
    </application>

</manifest>