.home-hero-page-right-text span{margin: 7px 0 0 35px;}
.sign-in-driver p{ margin:0px 0; padding:0px; float:left; width:90%; font-size:16px; color:#000000; line-height:27px;  word-wrap: break-word; min-height: 86px; !important}
.profile-Password span .profile-Password-save{width: 133px;}
.get-there-inner span{width: 200px;}
.get-there-inner span a{text-transform:lowercase; font-size:19px;}
.login-form-left b .submit-but{width:auto; padding:0 10px 0 10px;}


@media screen and (min-width:1px) and (max-width:414px) {
/*.header-page::before{bottom: 39px !important;}*/
.header-page-driver-glt::before { bottom: 0px !important;}
.header-page-add-glt::before{bottom: 40px !important;}
}

@media screen and (min-width:1px) and (max-width:350px) {
.header-page::before { bottom: -10px !important;}
.header-page-add-glt::before{bottom: 40px;}
.header-page-d1::before { bottom: 40px;}
.header-page-driver-glt::before{bottom: 40px !important;}
}

@media screen and (min-width:568px) and (max-width:666px) {
.logo { margin-left: 5%; width: 69%; !important}
.home-hero-page-right-text { width: 355px;}
.login-socials .fa-facebook{padding: 8px 12px 8px 12px;}
}
@media screen and (min-width:1px) and (max-width:567px) {
.login-socials .fa-facebook{padding: 8px 12px 8px 12px;}
}

@media screen and (min-width:1px) and (max-width:767px) {
.header-page-d1{font-size: 42px;}
.header-page::before{bottom: 0px;}
.header-page-driver-glt::before{bottom: 40px !important;}
.sign-in-driver p{min-height:0px;}
.sign-in-driver:nth-child(2){width: 100%;}
.sign-in-rider{width: 100%; float:none;}
.sign-in-driver{width: 100%;}
.sign-in-rider p{min-height:0px;}
}



@media screen and (min-width:768px) and (max-width:1023px) {
.sign-in-driver{width: 39%;}
.top-link span a{margin: 0 5px;}
.get-there-inner h2 { margin: 18px 0 0 4%; width: 45%; font-size:30px;}
.get-there-inner h2 b{font-size:30px;}
/*.logo .top-logo-link a{padding: 0 5px !important;}*/
.logo .top-logo-link{margin: 0 0 0 1%;}
.sign-in-driver:nth-child(2){width: 37%;}
.sign-in-rider{width: 50%; float:none;}
.sign-in-rider p{min-height:0px;}
.home-hero-page-right-text{width: 323px !important;}
.sign-in-driver p{ min-height: 108px !important; width:90%;}
.footer-box1 .lang b{font-size:14px;}
.logo { margin-left: 5% !important; width: 66% !important;}
.home-hero-page-right-text span { margin: 22px 0 0 35px;}
.get-there-inner span { width: 213px;}
}
@media screen and (min-width:1024px) and (max-width:1099px) {
.get-there-inner h2 { margin: 18px 0 0 4%; width: 65%; font-size:38px;}
.footer-box1 .lang b{font-size:14px;}
.logo { margin-left: 5%; width: 69%; !important}
}