@charset "utf-8";
/* CSS Document */
.profile{margin:0px; padding:0px; float:left; width:100%; background-color:#fff;}



a:focus {
    outline: thin dotted;
    outline-offset: -2px;
}





























