
.home-sldier-inner{ margin:0 auto; padding:0px; width:1150px; position:relative;}
.amazingcarousel-list-wrapper li{}
#amazingcarousel-7 .amazingcarousel-image {	
	position: relative;
	padding: 0px;
}

#amazingcarousel-7 .amazingcarousel-image img {
	display: block;
	width: 100%;
	max-width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

#amazingcarousel-7 .amazingcarousel-title {
	bottom: 0;
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size:14px;
    height:auto;
    left: 0;
    line-height: 19px;
    margin:0;
	padding:14px 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
	background:url(../img/box-text-bg.png) repeat;
	width:100%;
	text-transform:uppercase;
	font-weight:bold;
}

#amazingcarousel-7 .amazingcarousel-title b{ margin:0px; padding:0px; float:left; width:100%;}

#amazingcarousel-7 .amazingcarousel-description {
	position:relative;
	font-family:Arial, Helvetica, sans-serif;
	color:#333333;
	margin:6px;
	text-align:left;
	line-height: 14px;		
	height: 56px;
	overflow: hidden;
	font-size:14px;
}

/* carousel */

#amazingcarousel-container-7 { margin:0px;
	padding:0; float:left; width:100%; 
}

@media (max-width:640px) {
	#amazingcarousel-container-7 {
		padding: 32px 0px; 
	}
}

#amazingcarousel-7 .amazingcarousel-list-container { 
	padding: 16px 0;
}

/* item */

#amazingcarousel-7 .amazingcarousel-item-container {
	text-align: center;
	padding:0;
	position:relative;}

/* arrows */

#amazingcarousel-7 .amazingcarousel-prev {
	left: 0%;
	top: 50%;
	margin-left: -60px;
	margin-top: -24px;
}

#amazingcarousel-7 .amazingcarousel-next {
	right: 0%;
	top: 50%;
	margin-right: -60px;
	margin-top: -24px;
}

/* navigation bullets */

#amazingcarousel-7 .amazingcarousel-nav {
	position: absolute;
	width: 100%;
	top: 100%;
}

#amazingcarousel-7 .amazingcarousel-bullet-wrapper {
	margin: 4px auto;
}

.amazingcarousel-image > div { display:none!important;}